<style>
  .staff{
    max-width: 85%;
  }
  .input-field{
    width: 100%;
  }

  .form-group{
    margin: 2em !important;
  }

  .col-sm-6{
    padding: 1em;
  }

     .return{
       margin: 2em;
     }
</style>
<center>
<div class="container">
<%= form_for(certifier, html: {class: 'staff'}) do |f| %>
  <% if certifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(certifier.errors.count, "error") %> prohibited this certifier from being saved:</h2>

      <ul>
      <% certifier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="form-group row">
      <div class="col-sm-12">
        <h3>Editing <%= certifier.set_fullname %>'s information</h3>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-md-12">
    <%= f.label 'Certifier\'s ID' %>
    <%= f.number_field :certifier_id, class: 'form-control input-lg input-field' %>
      </div>
  </div>


    <div class="form-group row">
      <div class="col-sm-6">
        <%= f.label :first_name , for: 'First Name' %>
       <%= f.text_field :first_name, class: 'form-control input-lg input-field', placeholder: 'Enter First Name' %>
      </div>
      <div class="col-sm-6">
        <%= f.label :last_name , for: 'Last Name' %>
        <%= f.text_field :last_name, class: 'form-control input-lg input-field', placeholder: 'Enter Last Name' %>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-6">
        <%= f.label 'Email' %>
        <%= f.text_field :email, class: 'form-control input-lg input-field', placeholder: 'Enter Email' %>
      </div>
      <div class="col-sm-6">
        <%= f.label 'Benefits Assigned' %>
        <%= f.text_field :benefit_assigned, class: 'form-control input-lg input-field', placeholder: 'Enter Benefits Assigned' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-6">
      <%= f.label 'Upload a Photo' %>
      <%= f.file_field :avatar %>
      </div>
      <div class="col-sm-6">
        <%= f.label 'Available' %>
        <ul>
          <li style="display: inline-block">
            <%= f.radio_button :IsAvailable, true, :checked => true %>
            <%= label :IsAvailable_yes, 'Yes' %>
          </li>
          <li style="display: inline-block">
            <%= f.radio_button :IsAvailable, false %>
            <%= label :IsAvailable_no, 'No' %>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <%= f.label 'Letters Assigned' %>
        <%= f.text_field :letters_assigned, class: 'form-control input-lg input-field', placeholder: 'Enter Letters Assigned' %>
      </div>
    </div>
      <div class="form-group row">
        <div class="col-md-12">
          <%= f.submit 'Add/Update Information', class: 'btn btn-default' %>
        </div>
      </div>

<% end %>
</div>
</center>