<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="page-title-gray">Current Veterans Affairs Staff Members</h1>

  <style>
    table th{
     text-align: center;
     text-transform: capitalize;
    }
    table td{
      text-align: center;
      max-width: 250px;
      font-size: 0.8em !important;
    }
  </style>
<table class="table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th>Certifier ID </th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Benefit assigned</th>
      <th>Image File Path</th>
      <th>Available</th>
      <th>Letters Assigned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certifiers.each do |certifier| %>
      <tr>
        <td title="<%= certifier.certifier_id %>"><%= certifier.certifier_id %></td>
        <td title="<%= certifier.first_name %>"><%= certifier.first_name %></td>
        <td title="<%= certifier.last_name %>"><%= certifier.last_name %></td>
        <td title="<%= certifier.email %>"><%= certifier.email %></td>
        <td title="<%= certifier.benefit_assigned %>"><%= certifier.benefit_assigned %></td>
        <td title="<%= certifier.avatar %>"><%= certifier.avatar %></td>
        <td><%= certifier.IsAvailable%></td>
        <td title="<%= certifier.letters_assigned%>"><%= certifier.letters_assigned%></td>
        <td><%= link_to 'Show', certifier, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_certifier_path(certifier), class: 'btn btn-success' %></td>
        <td><%= link_to 'Delete', certifier, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <%= link_to admin_users_path, class:'btn btn-default pull-left' do %>
      <span><span>Back to Admin Panel</span>&nbsp;<i class="fa fa-arrow-left" aria-hidden="true"></i></span>
  <% end %>
<%= link_to new_certifier_path, class:'btn btn-default pull-right' do %>
    <span>Add New Staff Member</span>&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></span>

<% end %>
</div>



