<p id="notice"><%= notice %></p>

<script>

$(function(){
    var elementText = $('#status').text()

    if (elementText == "true") {

        $("#status").html("Yes");
    }
    else {
        $("#status").html("No");
    }
});

</script>

<div class="contact-card">
  <div class="avatar"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
  <h3 class="contact-name"><%= @certifier.first_name %>&nbsp;<%= @certifier.last_name %></h3>
  <ul class="contact-list">
    <li class="contact-item">Student ID:  &nbsp; <%= @certifier.certifier_id %></li>
    <li class="contact-item">Email: &nbsp; <%= @certifier.email %></li>
    <li class="contact-item">Available: &nbsp; <span id="status"><%= @certifier.IsAvailable %></span></li>
  </ul>
  <div class="contact-links-container">
    <ul class="link-list">
      <li class="link-list-item"> <%= link_to 'Edit', edit_certifier_path(@certifier), class: 'btn btn-default' %></li>
      <li class="link-list-item"><%= link_to 'Return to Student Lobby', student_visits_path, class: 'btn btn-default' %></li>



    </ul>
  </div>
</div>





<!--# link_to 'Back', certifiers_path%>-->
