
<style>

  form{
    padding: 1.5em;
  }
  .form-control {
    height: auto!important;
    padding: 8px 12px !important;
  }

     .btn-custom{
       width: 250px !important;
       height: 45px !important;
       color: #fff !important;
       font-weight: 600;

     }
</style>

<style>
  table tr td{
    border: 1px solid #eeeeee;
  }
  .media-object{
    border-radius: 100%;
  }
  .checkbox{
    width: 122px;
  }

  #student_visits_form{
    display: block;
    max-width: 75%;
    margin: 0 auto;
  }

   tr{
     display: block;
     width: 100%;
     background-color: #3192DF;
   }

  tr:hover{
    background-color: #ae0000;
  }
    #student-number{
      max-width: 50%;
      padding: 1em !important;
    }

    #student_visit_reason_for_visit_id{
      font-size: 1.2em;
      font-weight: 400;
      color: #000000;
    }

</style>



<style>

  /*********************** Radio Button Styles **********************************/
  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    margin-right: 0.5rem;
    z-index: 1000;
  }

  .option-input:hover { background: #9faab7; }

  .option-input:checked { background: #40e0d0; }

  .option-input:checked::before {
    width: 40px;
    height: 40px;
    position: absolute;
    content: '\2716';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }

  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }

  .option-input.radio { border-radius: 50%; }

  .option-input.radio::after { border-radius: 50%; }


  /********************Radio button Animations *******************************/

  @-webkit-keyframes
  click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
  }
    100% {
      width: 200px;
      height: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0.0;
    }
  }

  @-moz-keyframes
  click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
  }
    100% {
      width: 200px;
      height: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0.0;
    }
  }

  @-o-keyframes
  click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
  }
    100% {
      width: 200px;
      height: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0.0;
    }
  }

  @keyframes
  click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
  }
    100% {
      width: 200px;
      height: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0.0;
    }
  }


</style>

<%= form_for(student_visit, :html => {:id => "student_visits_form"}) do |f| %>
    <h2>Welcome <%= @student_first_name %></h2>
    <% if student_visit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(student_visit.errors.count, "error") %> prohibited this student_visit from being saved:</h2>

          <ul>
            <% student_visit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">

      <%= f.label 'Please enter your student id number'%>
      <%= f.number_field :student_id, :value => @student_id,  class: 'form-control',  :id => 'student-number', placeholder: 'Please enter your Student ID', :required => true %>

    </div>

    <div class="field">
      <style>
        table tr td{
          border: 1px solid #eeeeee;
        }
        .media-object{
          border-radius: 100%;
        }
        .checkbox{
          max-width: 125px;
        }
      </style>

      <h4>Please select an available staff member</h4>
      <h6>....based on the the <span style="color: #F7AD1A"><strong>first letter of your last name</strong></span> and your <span style="color: #F7AD1A"><strong>education benefit</strong></span></h6>

          <table class="table-bordered table-condensed">
            <% @current_staff.each do |staff| %>
            <tr>
              <td>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                     <%= image_tag("#{staff.avatar_url().to_s}",:class => "img_round" ) %>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%= staff.set_fullname%></h4>
                    <p style="max-width: 95%;"><span style="font-size: 1.3em"><strong>Letters Assigned:</strong></span>&nbsp;<%= staff.letters_assigned%></p>
                    <p style="max-width: 95%;"><span style="font-size: 1.3em"><strong>Benefits Assigned:</strong></span>&nbsp;<%= staff.benefit_assigned %></p>

                  </div>
                </div>
              </td>
              <td >
                <div class="checkbox">

                  <%= label "#{staff.certifier_id}" ,  "#{staff.set_fullname}" do %>
                      <input   class="option-input radio" type="radio" autocomplete="off" name="student_visit[<%= :certifier_id %>]" value=<%= staff.certifier_id %>  required="required">
                  <%end%>

                </div>
              </td>
            </tr>
            <%end%>
          </table>

    </div>
    <div class="[ form-group ]">
      <!--<input type="checkbox" name="fancy-checkbox-default" id="fancy-checkbox-default" autocomplete="off" />-->
      <%= f.check_box :isSignedin,  "data-toggle" =>"toggle" , "data-on" => "Sign In",  "data-off" =>"Don't Sign In"%>
      <span style="color: red;">***Please leave checked to sign in.</span>
    </div>




    <div class="form-group">
      <%= f.label 'Please Tell Us Your Reason For Visiting Today' %>
      <div class="cols-sm-10">
        <div class="input-group">
      <%= f.collection_select :reason_for_visit_id, ReasonForVisit.all, :id, :visit_reason_name, {:include_blank => true}, {class: "form-control dropdown-menu"} %>
       </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Enter additional notes' %>
      <div class="cols-sm-12">
        <div class="input-group">
      <%= f.text_area :service_requested, rows: '5', cols: '100',  class: "form-control"%>
        </div>
    </div>
    </div>

      <div class="form-group">
      <%= link_to 'Cancel',  student_kiosk_index_path, class: 'btn btn-danger btn-custom', style: 'padding: 0.7em 0em !important;'%>
      <%= f.submit 'Proceed', class: 'btn btn-success btn-custom' %>
     </div>
<% end %>


<script>
    var body = document.getElementsByTagName("body")[0];
    body.style.backgroundColor = "#003768";
    body.style.color = "#fff";
</script>