
<style>

  form{
    padding: 1.5em;
  }
  .form-control {
    height: auto!important;
    padding: 8px 12px !important;
  }

</style>

<style>
  table tr td{
    border: 1px solid #eeeeee;
  }
  .media-object{
    border-radius: 100%;
  }
  .checkbox{
    width: 122px;
  }
</style>

<%= form_for(student_visit, remote: true) do |f| %>
    <% if student_visit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(student_visit.errors.count, "error") %> prohibited this student_visit from being saved:</h2>

          <ul>
            <% student_visit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">

      <%= f.label :student_id %>
      <%= f.number_field :student_id,:value => (@student_visit.student),  class: 'form-control' , placeholder: 'Student ID', :required => true %>

    </div>

    <div class="field">
      <style>
        table tr td{
          border: 1px solid #eeeeee;
        }
        .media-object{
          border-radius: 100%;
        }
        .checkbox{
          width: 160px;
        }
      </style>

      <h4>Please Select an Available Certifying Official</h4>
      <% @current_staff.each do |staff| %>
          <table class="table-bordered table-condensed" width="50%;">
            <tr>
              <td>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                     <%= image_tag("#{staff.avatar_url().to_s}",:class => "img_round" ) %>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%= staff.set_fullname%></h4>
                    <p><%= staff.benefit_assigned %></p>
                  </div>
                </div>
              </td>
              <td >
                <div class="checkbox">
                  <%= label "#{staff.certifier_id}" ,  "#{staff.set_fullname}" do %>
                      <input type="radio" name="student_visit[<%= :certifier_id %>]" value=<%= staff.certifier_id %> required="required">
                  <%end%>
                </div>
              </td>
            </tr>
          </table>
      <%end%>
    </div>
    <div class="[ form-group ]">
      <!--<input type="checkbox" name="fancy-checkbox-default" id="fancy-checkbox-default" autocomplete="off" />-->
      <%= f.check_box :isSignedin,  :id= => "fancy-checkbox-default", :autocomplete => "off", :"data-toggle"  => "toggle",   :"data-on" => "Sign In",  "data-off" => "Sign Out"%>
      <div class="[ btn-group ]">
      </div>

    </div>



    <div class="field">
      <%= f.label 'Please Tell Us Your Reason For Visiting Today' %>
      <%= f.collection_select :reason_for_visit_id, ReasonForVisit.all, :id, :visit_reason_name, {:include_blank => true} %>
    </div>

    <div class="field">
      <%= f.label 'Addiotionl Notes' %>
      <%= f.text_area :service_requested, rows: '5', cols: '10',  class: "form-control"%>
    </div>

    <div class="actions">
      <%= f.submit 'Proceed', class: 'btn btn-default', style: "width: 350px;" %>
    </div>
<% end %>


