
<style>

  form{
    padding: 1.5em;
  }
  .form-control {
    height: auto!important;
    padding: 8px 12px !important;
  }

</style>

<style>
  table tr td{
    border: 1px solid #eeeeee;
  }
  .media-object{
    border-radius: 100%;
  }
  .checkbox{
    width: 122px;
  }

  #student_visits_form{
    display: block;
    max-width: 88%;
    margin: 0 auto;
  }

   tr{
     display: inline-block;
     width: 50%;
     background-color: #3192DF;
   }
    #student-number{
      max-width: 50%;
      padding: 1em !important;
    }

    #student_visit_reason_for_visit_id{
      font-size: 1.2em;
      font-weight: 400;
      color: #000000;
    }
</style>

<%= form_for(student_visit, :html => {:id => "student_visits_form"}) do |f| %>
    <% if student_visit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(student_visit.errors.count, "error") %> prohibited this student_visit from being saved:</h2>

          <ul>
            <% student_visit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">

      <%= f.label 'Please enter your student id number'%>
      <%= f.number_field :student_id, :value => @student_id,  class: 'form-control',  :id => 'student-number', placeholder: 'Please enter your Student ID', :required => true %>

    </div>

    <div class="field">
      <style>
        table tr td{
          border: 1px solid #eeeeee;
        }
        .media-object{
          border-radius: 100%;
        }
        .checkbox{
          max-width: 125px;
        }
      </style>

      <h4>Please select an available staff member</h4>

          <table class="table-bordered table-condensed">
            <% @current_staff.each do |staff| %>
            <tr>
              <td>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                     <%= image_tag("#{staff.avatar_url().to_s}",:class => "img_round" ) %>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%= staff.set_fullname%></h4>
                    <p><%= staff.benefit_assigned %></p>
                  </div>
                </div>
              </td>
              <td >
                <div class="checkbox">
                  <%= label "#{staff.certifier_id}" ,  "#{staff.set_fullname}" do %>
                      <input type="radio" name="student_visit[<%= :certifier_id %>]" value=<%= staff.certifier_id %> required="required">
                  <%end%>
                </div>
              </td>
            </tr>
            <%end%>
          </table>

    </div>
    <div class="[ form-group ]">
      <!--<input type="checkbox" name="fancy-checkbox-default" id="fancy-checkbox-default" autocomplete="off" />-->
      <%= f.check_box :isSignedin,  :id= => "fancy-checkbox-default", :autocomplete => "off" %>
      <div class="[ btn-group ]">
        <%= label_tag('fancy-checkbox-default', :class => "[ btn btn-default ]" ) do%>
            <span class="[ glyphicon glyphicon-ok ]"></span>
            <span> </span>
        <%end%>
        <%= label_tag('fancy-checkbox-default', :class => "[ btn btn-default active ]" ) do%>
            I want to Sign In

        <%end%>
      </div>
      <span style="color: red;">***Must Be Checked</span>
    </div>




    <div class="field">
      <%= f.label 'Please Tell Us Your Reason For Visiting Today' %>
      <%= f.collection_select :reason_for_visit_id, ReasonForVisit.all, :id, :visit_reason_name, {:include_blank => true} %>
    </div>

    <div class="field">
      <%= f.label 'Addiotionl Notes' %>
      <%= f.text_area :service_requested, rows: '5', cols: '10',  class: "form-control"%>
    </div>

    <div class="actions">
      <%= f.submit 'Proceed', class: 'btn btn-default' %>
    </div>
<% end %>


<script>
    var body = document.getElementsByTagName("body")[0];
    body.style.backgroundColor = "#003768";
    body.style.color = "#fff";
</script>