<style>

  @keyframes nodeInserted {
    from { opacity: 0.99; }
    to { opacity: 1; }
  }

  #studentRow > tr {
    animation-duration: 0.001s;
    animation-name: nodeInserted;
  }
</style>
<style>
  #switchboard{
    border: 1px solid #666;
    height: 100%;
    padding: 0px;
    background-color: #3192DF;
  }
  .switchboard-header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
   color: #fff;
  }

  .switchboard-users{
    display: block;
    list-style-type: none;
    text-decoration:none !important;
    margin: 6px;
    padding:0.2em !important;

  }
  .switchboard-users li{
    margin: 0.5em auto;
    padding:0.5em;
    border: 1px solid #C7C8CA;
    background-color: #eee;
  }
  .switchboard-panel{
    list-style-type: none;
    display: block;
    padding:0.6em !important;
    margin: 9px;

  }

  .switchboard-group{
    font-family: 'Francois One', sans-serif;
  }
  .switchboard-header-container{
    background-color: #214C7A;
    padding: 0.5em;
  }
 .true{
   background-color: green;
   display: inline-block;
   width: 10px;
   height: 10px;
   border: 1px solid #000;
 }

 .false{
   background-color: red;
   display: inline-block;
   width: 10px;
   height: 10px;
   border: 1px solid #000;
 }

 .lower-button{
   display: inline-block;
   margin: 13px;
 }

 th{
   color: #fff;
   font-weight: 600;
   background-color: #214C7A;
 }
 .full-name{
   color: #002953;
   font-weight: 600;

 }
  .user-circle{
    color: #002953;
  }
  .cert-status-button{
    font-size: 1.3em;
  }

  table{
    font-size: 0.8em !important;
    padding:  0.2em !important;
  }

  table td{
    font-size: 1em !important;
    padding:  0.5em !important;

  }
 .available:after{
       content: "\f087";
       font-family: FontAwesome;
       font-style: normal;
       font-weight: 600;
       font-size: 1.2em;
       text-decoration: inherit;
       z-index: -1;
       color :green;
     }

  .unavailable:after{
    content: "\f088";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: inherit;
    z-index: -1;
    color: red;
  }
</style>

<script>

</script>
<!--<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3"></div>
  <div class="col-lg-9 col-md-9 col-sm-9">
  <ul class="user-bar">
    <li>Sign In</li>
    <li>Sign Out</li>
    <li>Set Available</li>
    <li>Set Unavailable</li>
  </ul>
  </div>
</div>-->

<!-- Begin Flash Notice -->
<div class="row">

  <div class="col-lg-12 col-md-12 col-sm-12">
    <% if !flash[:notice].blank? %>

        <div class="notice" >
          <h4 style="font-weight: 400; text-align: center;"><%= flash[:notice] %></h4>
        </div>

    <% end %>
  </div>
</div>

<!-- End Flash Notice -->
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3" id="switchboard">
      <div>
      <div class="switchboard-header-container">
      <h3 class="switchboard-header">User Switchboard</h3>
      </div>
      <ul class="switchboard-panel">
        <li class="switchboard-group"><i class="fa fa-address-book fa-2x" aria-hidden="true"></i>&nbsp;<span style="font-size: 1.335em;">Veteran Affair's Staff</span></li>




        <ul class="switchboard-users">
          <% @all_staff.each do |staff_member|%>
              <li><span class="user-circle"><i class="fa fa-user-circle fa-2x" aria-hidden="true" ></i></span>&nbsp;<span class="full-name"><%= staff_member.set_fullname%></span>&nbsp;<span class="availability"> <%= certifier_status(staff_member.IsAvailable) %></span> &nbsp; <span class="badge"><%= student_visit_counts(staff_member.certifier_id) %></span>&nbsp;&nbsp;<span class="cert-status-button"><%=link_to edit_certifier_path(staff_member) do %><i class="fa fa-id-card-o" aria-hidden="true"></i><%end%></span></li>
          <% end %>
        </ul>

      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9" id="students">

    <table class="table table-bordered table-hover table-responsive">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>Student ID</th>
        <th>Certifying Official</th>
        <th>Federal Benefit</th>
        <th>State Benefit</th>
        <th>Reason For Visit</th>
        <th>Additional Notes</th>

      </tr>
      </thead>
      <tbody id="studentRow">
      <% @student_visits.each do |student_visit| %>
      <tr>
        <td><%= student_visit.student.fullname%></td>
        <td><%= student_visit.student_id %></td>
        <td><%= student_visit.certifier.set_fullname %></td>
        <td style="white-space: nowrap; text-overflow: ellipsis !important; overflow: hidden; max-width: 120px;" title="<%= student_visit.student.federal_benefit.benefit_name %>"><%= student_visit.student.federal_benefit.benefit_name %></td>
        <td style="white-space: nowrap; text-overflow: ellipsis !important; overflow: hidden; max-width: 120px;" title="<%= student_visit.student.state_benefit.benefit_name %>"><%= student_visit.student.state_benefit.benefit_name %></td>
        <td style="white-space: nowrap; text-overflow: ellipsis !important; overflow: hidden; max-width: 120px;" title="<%= student_visit.reason_for_visit.visit_reason_name %>"><%= student_visit.reason_for_visit.visit_reason_name %></td>
        <td style="white-space: nowrap; text-overflow: ellipsis !important; overflow: hidden; max-width: 140px;" title="<%= student_visit.service_requested %>"><%= student_visit.service_requested %></td>
        <td><%= link_to 'Sign Out',  edit_student_visit_path(student_visit) %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <script>
      $( function() {
          $( document ).tooltip();
      } );
  </script>

  <div>
    <ul class="lower-button-panel">
      <li class="lower-button"><%=link_to admin_search_students_index_path, :class => 'btn btn-default' do %> Search Visitor&nbsp;<i class="fa fa-search" aria-hidden="true"></i><% end %></li></li>
      <li class="lower-button"><%=link_to students_new_path, :class => 'btn btn-default' do %> Add New Student&nbsp;<i class="fa fa-plus" aria-hidden="true"></i><% end %></li>
      <li class="lower-button"><%=link_to new_student_visit_path, :class => 'btn btn-default' do %> Sign Student In&nbsp;<i class="fa fa-calendar-check-o" aria-hidden="true"></i><% end %></li></li>

    </ul>
  </div>
</div>




<!-- This is a reload script that reloads the page every x seconds -->
<script type="text/javascript">
    setTimeout(function () { location.reload(true); }, 30000);
</script>


<!-- This code checks for newly added elements and if found makes a doorbell noise -->


<script>
  var audioElement = document.createElement("audio");

  audioElement.src = "http://res.cloudinary.com/dpwoods/video/upload/v1488506247/anmisation/doorbell.mp3"
  audioElement.volume = 0.10;
  audioElement.autoPaly = true;
  audioElement.preload = true;








    var insertListener = function(event){
        if (event.animationName == "nodeInserted") {
            // This is the debug for knowing our listener worked!
            // event.target is the new node!
            /*console.warn(alert("Another node has been inserted! "), event, event.target);*/
            audioElement.play();
        }
    }

    document.addEventListener("animationstart", insertListener, false); // standard + firefox
    document.addEventListener("MSAnimationStart", insertListener, false); // IE
    document.addEventListener("webkitAnimationStart", insertListener, false); // Chrome + Safari




</script>

