<p id="notice"><%= notice %></p>

<style>
  table{
    font-size: 0.8em !important;
    padding:  0.2em !important;
  }

  table td{
    font-size: 0.98em !important;
    padding:  0.2em !important;
  }
</style>
<h1>Students</h1>

<table class="table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Campus</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Federal Benefit</th>
      <th>State Benefit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.student_id %></td>
        <td><%= student.campus.campus_name%></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.phone %></td>
        <td><%= student.email %></td>
        <td><%= student.federal_benefit.benefit_name %></td>
        <td><%= student.state_benefit.benefit_name %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>

