<style>
  .notice{
    font-size: 1.5em;
    font-weight: 800;
    color: #259819;
    text-shadow: 2px 2px 4px #011702;
  }
</style>



<!-- Begin Flash Notice -->
<div class="row">

  <div class="col-lg-12 col-md-12 col-sm-12">
    <% if !flash[:notice].blank? %>

        <div class="notice" >

          <%= flash[:notice] %>


        </div>

    <% end %>
  </div>
</div>

<!-- End Flash Notice -->




<h1 class="page-title">Confirm Your Information is Correct</h1>

<div class="contact-card">
  <div class="avatar"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
  <h3 class="contact-name"><%= @student.first_name %>&nbsp;<%= @student.last_name %></h3>
  <ul class="contact-list">
    <li class="contact-item">Student ID:&nbsp; <%= @student.student_id %></li>
    <li class="contact-item">Email:&nbsp;  <%= @student.email %></li>
    <li class="contact-item">Phone:&nbsp; <%= @student.phone_number %></li>
    <li class="contact-item">Campus:&nbsp; <%= @student.campus.campus_name %></li>
  </ul>
  <br/>
  <center>
  <div class="contact-links-container">
    <%= link_to('Edit Information', edit_student_path(@student), :class => 'btn btn-default') %>
    <%= link_to('Proceed to Sign In', new_student_visit_path(@selected_student), :class => 'btn btn-default') %>
  </div>
  </center>
</div>
<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-2">
    <%= link_to :back do %>
        <span class="back-link-style"><strong>GO BACK</strong>&nbsp;<i class="fa fa-arrow-left" aria-hidden="true"></i></span>
    <%end %>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10">
  </div>
</div>





<div style="margin: 20px auto; background-image: url('http://www.lonestar.edu/images/lscLogo_extended.svg'); background-repeat: no-repeat; background-position: top;">
  <div style="visibility: hidden;"><img src="http://placehold.it/1200x70" id="lowerPlaceholder"></div>
</div>

<script>
    $(document).ready(function(){

        var $body = $('#body');


        var lapTopURL = ["url('http://res.cloudinary.com/dpwoods/image/upload/v1490534744/img_assets/aircraft-carrier_1366x768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534744/img_assets/aircraft-carrier-2-1366-768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534745/img_assets/airforce-2-1366-768.jpg')",  "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534747/img_assets/airforce-1366-768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534745/img_assets/army_3_1366_768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534746/img_assets/army_4_1366_768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534746/img_assets/coast_guard_ship-1366_768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534746/img_assets/marines_2_1366x768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534746/img_assets/marines_1366x768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534747/img_assets/skydiving-1366-768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534747/img_assets/soldiers-1366-768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534747/img_assets/sqaud-goals.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534745/img_assets/army_1366_768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534745/img_assets/army_2_1366_768.jpg')" ];
        var desktopURL = ["url('http://res.cloudinary.com/dpwoods/image/upload/v1490534737/img_assets/aircraft-carrier-1-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/aircraft-carrier-2-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/airforce-2-1920-1080.jpg')","url('http://res.cloudinary.com/dpwoods/image/upload/v1490534739/img_assets/airforce-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/army_2_1920_1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/army_3_1920_1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/army_4_1920_1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534738/img_assets/army_1920_1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534743/img_assets/coast_guard_1-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/coast_guard_ship-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534742/img_assets/marines_2_1920_1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534743/img_assets/marines_1920x1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534743/img_assets/skydiving-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534743/img_assets/soldiers-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534743/img_assets/sqaud-goals1920x1080.jpg')"];



        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min)) + min;
        }


        function getImageIndex(){
            var min = 0;
            var max = 13;
            var randomInt = getRandomInt(min, max);
            return randomInt
        }

        if(window.screen.width >= 0 && window.screen.width <= 1366){
            $body.css({"background-image": lapTopURL[getImageIndex()], "background-repeat": "no-repeat", "background-size": "cover"});
        }
        else{
            $body.css({"background-image": desktopURL[getImageIndex()], "background-repeat": "no-repeat", "background-size": "cover"});
        }
    });
</script>























