<style>
  .user {
    max-width: 85%;
  }

  .input-field {
    width: 85%;
  }

  .form-group {
    margin: 2em !important;
  }

  .col-sm-6 col-sm-12 {
    padding: 1em;
  }

</style>
<center>
<div class="container">
  <%= form_for(user, html: {class: 'user'}) do |f| %>

      <% if user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <div class="form-group">
        <div class="col-sm-6">
          <%= f.label 'First Name' %>
          <%= f.text_field :first_name, class: 'form-control input-lg input-field', placeholder: 'Enter First Name' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <%= f.label 'Last Name' %>
          <%= f.text_field :last_name, class: 'form-control input-lg input-field', placeholder: 'Enter Last Name' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <%= f.label 'Email' %>
          <%= f.text_field :email, class: 'form-control input-lg input-field', placeholder: 'Enter Email Address' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <%= f.label 'Username' %>
          <%= f.text_field :username, class: 'form-control input-lg input-field', placeholder: 'Enter Username' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <%= f.label 'Password' %>
          <%= f.password_field :password, class: 'form-control input-lg input-field', placeholder: 'Create Password' %>
        </div>
      </div>
      <div class="form-group ">
        <div class="col-sm-6">
          <%= f.label 'Password Confirmation' %>
          <%= f.password_field :password_confirmation, class: 'form-control input-lg input-field', placeholder: 'Confirm Password' %>
        </div>
      </div>

      <div class="form-group row ">
        <div class="col-md-offset-4 col-md-4">
            <%= f.submit 'Submit', class: 'btn btn-danger input-lg input-field', style: 'margin-top:10px' %>
        </div>

      </div>

  <% end %>
</div>
</center>
<%= link_to  admin_users_path, class:'btn btn-default' do %>
    <span>Back to Admin Panel</span><span>&nbsp;<i class="fa fa-arrow-left" aria-hidden="true"></i></span>
<%  end %>