<p id="notice"><%= notice %></p>

<div class="contact-card">
  <h1 class="page-title">Confirm Your Information is Correct</h1>

  <div class="avatar"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
  <h3 class="contact-name"><%= @user.first_name %>&nbsp;<%= @user.last_name %></h3>
  <ul class="contact-list">
    <li class="contact-item">User ID:&nbsp; <%= @user.id %></li>
    <li class="contact-item">Email:&nbsp;  <%= @user.email %></li>
  </ul>
  <center>
    <br/>
  <div class="row">
      <%= link_to  admin_users_path, class:'btn btn-default' do %>
          <span>Back to Admin Panel</span><span>&nbsp;<i class="fa fa-arrow-left" aria-hidden="true"></i></span>
      <%  end %>
      <%= link_to('Edit Information',  edit_user_path(@user), :class => 'btn btn-default') %>
      <%=link_to('Add Another User', new_user_path(@selected_user),  :class => 'btn btn-default') %>
  </div>
  </center>
</div>

<div style="margin: 20px auto; background-image: url('http://www.lonestar.edu/images/lscLogo_extended.svg'); background-repeat: no-repeat; background-position: top;">
  <div style="visibility: hidden;"><img src="http://placehold.it/1200x70" id="lowerPlaceholder"></div>
</div>


