<style>
  #switchboard{
    border: 1px solid #666;
    height: 100%;
  }

  .switchboard-users{
    display: block;
    list-style-type: none;
    text-decoration:none !important;
    padding:0.3em !important;

  }
  .switchboard-users li{
    margin: 0.5em;
    padding:0.5em;
  }
  .switchboard-panel{
    list-style-type: none;
    display: block;
    padding:0.3em !important;
  }

  .user-bar li{
    display: inline-block;
    width: 140px;
    margin: 0;
    padding: 0.8em;
    background-color: #730E15;
  }
</style>

<script>

</script>
<!--<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3"></div>
  <div class="col-lg-9 col-md-9 col-sm-9">
  <ul class="user-bar">
    <li>Sign In</li>
    <li>Sign Out</li>
    <li>Set Available</li>
    <li>Set Unavailable</li>
  </ul>
  </div>
</div>-->
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3" id="switchboard">
    <div>
      <h3>User Switchboard</h3>
      <ul class="switchboard-panel">
        <li><i class="fa fa-address-book fa-2x" aria-hidden="true"></i>&nbsp;VAC Staff</li>
        <ul class="switchboard-users">
          <li><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>&nbsp;Claudia Greenhaw </li>
          <li><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>&nbsp;Patricia Obrien</li>
          <li><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>&nbsp;Natasha Cornu</li>
          <li><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>&nbsp;Sequria Brown</li>
          <li><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>&nbsp;Lynda Nyguen</li>
        </ul>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <table class="table table-bordered table-hover table-responsive">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>Student ID</th>
        <th>Date/Time In</th>
        <th>Status</th>
        <th>Serivce Requested</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>John Doe</td>
        <td>1315493</td>
        <td>2/6/2017 - 3:00PM</td>
        <td>Waiting</td>
        <td>Billing</td>
        <td><%= link_to 'Sign In', ''%></td>
        <td><%= link_to 'Sign Out', ''%></td>
        <td><%= link_to 'Remove', '' %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-9 col-md-9 col-sm-9">
    <table class="table table-bordered table-hover table-responsive">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>Student ID</th>
        <th>Certifier Assigned</th>
        <th>Date/Time In</th>
        <th>Status</th>
        <th>Serivce Requested</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>John Doe</td>
        <td>1315493</td>
        <td>Patricia Obrien</td>
        <td>2/6/2017 - 3:00PM</td>
        <td>In With Certifer</td>
        <td>Billing</td>
        <td><%= link_to 'Sign In', ''%></td>
        <td><%= link_to 'Sign Out', ''%></td>
        <td><%= link_to 'Remove', '' %></td>
      </tr>
      </tbody>
    </table>
    </table>
  </div>
</div>


