<style>
  html, body{
    padding: 0;
    margin: 0;
    background-color: #003768;
  }

     .visit-links{
       border-radius:  28px;
       box-shadow: 6px 8px 5px rgb(0, 27, 51);
     }
</style>

<div class="jumbotron" style="background-image: url('http://res.cloudinary.com/dpwoods/image/upload/v1491057824/next-veteran-home-screen_snqk8u.jpg'); background-size: 100%; background-position: center; padding: 0; margin: 0;">
 <img src="" class="img-responsive" id="placeholder">
</div>
<div class="container-fluid">
<div style="margin-top: -25px;">
  <div class="row row-row-centered">
    <h1 class="page-title" style="font-size: 1.7em;">Please select one: </h1>
    <div class="col-sm-6 center-col-centered"><%=link_to 'First Time Visitor', '/students/new', class: 'visit-links'%></div> <span class="page-title" style="font-size: 1.3em">or</span>
      <div class="col-sm-6 center-col-centered"><%=link_to 'Returning Visitor', search_students_index_path, class: 'visit-links'%></div>
</div>
</div>

  <div style="background-image: url('http://www.lonestar.edu/images/lscLogo_extended.svg'); background-repeat: no-repeat; background-position: top;">
    <div style="visibility: hidden;"><img src="" id="lowerPlaceholder"></div>
  </div>
   <div class="home-link-container">
     <ul>
       <li><div class="stafflink"><%= link_to 'FAQ', frequently_asked_questions_path %></div></li>
       <li><div class="stafflink"><%= link_to 'Staff',access_login_path %></div></li>
       <li><div class="stafflink"><%= link_to 'Admin', admin_access_login_path %></div></li>
     </ul>
  </div>
</div>


<script>
    $(document).ready(function(){
        var screenWidth = window.screen.width;

        var $placeHolder = $('#placeholder');
        var $img_links = $('#img-links ');
        var $lowerPlaceholder = $('#lowerPlaceholder');
        if(screenWidth >= 0 && screenWidth <= 1366){
            $placeHolder.attr("src", "http://res.cloudinary.com/dpwoods/image/upload/v1490758600/img_assets/1340x439.png");
            $img_links.addClass("laptop").removeClass("desktop");
            $lowerPlaceholder.attr("src", "http://res.cloudinary.com/dpwoods/image/upload/v1490758595/img_assets/355x70.png");
        }else{
            $placeHolder.attr("src", "http://res.cloudinary.com/dpwoods/image/upload/v1490758607/img_assets/1920x690.png");
            $img_links.addClass("desktop").removeClass("laptop");
            $lowerPlaceholder.attr("src", "http://res.cloudinary.com/dpwoods/image/upload/v1490758604/img_assets/1920x70.png");
        }
    });
</script>

