<style>
  .admin-menu-container {
    border: 1px solid #666;

    padding: 1em;
    background-color: #eee;
  }

  .admin-menu-container.content {
    z-index: 200;
    min-height: 100%;
  }

  admin-item {
    display: inline-block;
  }

  .icon-small {
    display: inline-block;
    margin: 0.1em;
    font-size: 0.4em !important;
  }

  /***************************************************/

  .avatar-container {
    position: relative;
    margin: 3em auto;
    width: 284px;
    height: 284px;

  }

  .image {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .avatar-container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 0.9em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .text2 {
    color: white;
    font-size: 0.9em;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .avatar-label {
    font-weight: bold;
    font-family: "futura-pt", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #003768;
    text-align: center;
  }

  .col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
  }

  .fa.fa-users.fa-6 {
    font-size: 18em;
    background-color: red;
  }

  a:hover {
    color: #fff;
    background-color: transparent !important;
  }

  .avatar-container > img {
    border: 2px solid #2E2F30;
  }

  .col-md-3.col-centered a {
    color: transparent !important;
    display: block;
  }
</style>

<div class="container-fluid">
  <h1 class="page-title-gray">Admin Panel</h1>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="admin-menu-container content">


        <div class="row row-centered">

          <div class="col-md-3 col-centered">
            <%= link_to reports_reports_path do %>
                <div class="avatar-container">
                  <%= cl_image_tag("img_assets/report.jpg") %>
                  <div class="overlay">
                    <div class="text">View Reports</div>
                  </div>
                </div>
            <% end %>
            <div class="avatar-label">View Reports</div>
          </div>

          <div class="col-md-3 col-centered">
            <%= link_to certifiers_path do %>
                <div class="avatar-container">
                  <%= cl_image_tag("img_assets/management.jpg") %>
                  <div class="overlay">
                    <div class="text">Manage VA Staff</div>
                  </div>
                </div>
            <% end %>
            <div class="avatar-label">Manage VA Staff</div>
          </div>
          <div class="col-md-3 col-centered">
            <%= link_to students_path do %>
                <div class="avatar-container">
                  <%= cl_image_tag("img_assets/manage-student.jpg") %>
                  <div class="overlay">
                    <div class="text">Manage Students</div>
                  </div>
                </div>
            <% end %>
            <div class="avatar-label">Manage Students</div>
          </div>
          <div class="col-md-3 col-centered">
              <div class="avatar-container">
                <%= cl_image_tag("img_assets/users.jpg") %>
                <div class="overlay">
                  <%= link_to users_new_path do %>
                      <div class="text">Add New Users</div>
                  <% end %>
                  <%= link_to 'users/index' do %>
                      <div class="text2">Remove Users</div>
                  <% end %>
                </div>
              </div>
            </a>
            <div class="avatar-label">Manage System Users</div>
          </div>
        </div>
        <div class="row row-centered">
          <div class="col-md-3 col-centered">
            <%= link_to frequently_asked_questions_new_path do %>
                <div class="avatar-container">
                  <%= cl_image_tag("img_assets/question.jpg") %>
                  <div class="overlay">
                    <div class="text">Manage Frequently Asked Questions</div>
                  </div>
                </div>
            <% end %>
            <div class="avatar-label">Manage FAQs</div>
          </div>
          <div class="col-md-3 col-centered">
            <%= link_to student_kiosk_index_path do %>
                <div class="avatar-container">
                  <%= cl_image_tag("img_assets/kiosk.jpg") %>
                  <div class="overlay">
                    <div class="text">Go to Student Kiosk</div>
                  </div>
                </div>
            <% end %>
            <div class="avatar-label">Student Kiosk</div>
          </div>

          <div class="col-md-3 col-centered">
            <%= link_to admin_path do %>
                <div class="avatar-container">
                  <%= cl_image_tag("img_assets/console.jpg") %>
                  <div class="overlay">
                    <div class="text">Go to User Console</div>
                  </div>
                </div>
            <% end %>
            <div class="avatar-label">View User Console</div>
          </div>


          <div class="col-md-3 col-centered">
            <%= link_to admin_access_logout_path do %>
                <div class="avatar-container">
                  <%= cl_image_tag("img_assets/exit.jpg") %>
                  <div class="overlay">
                    <div class="text">Exit</div>
                  </div>
                </div>
            <% end %>
            <div class="avatar-label">Logout</div>
          </div>


        </div>

        <!--div style="max-width: 400px; margin: 2em auto;">
          <ul>
            <li style="display: inline-block"><div><# link_to 'User Console', admin_path, class:'btn btn-default' %></div></li>
            <li style="display: inline-block"><div><#link_to 'Student Kiosk', student_kiosk_index_path, class:'btn btn-default' %></div></li>
          </ul>
        </div>-->

      </div>


    </div>
  </div>
  <!-- This is required for attribution under creative commons please do not remove -->
  <div class="icon-small">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
  <div class="icon-small">Icons made by
    <a href="http://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from
    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
  <div class="icon-small">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
  <div class="icon-small"> Icons made by
    <a href="http://www.visualpharm.com/">http://www.iconarchive.com/show/office-space-icons-by-visualpharm/touch-screen-kiosk-icon.html</a>
  </div>
  <div class="icon-small">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
  <div class="icon-small">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</div>