<div class="container">

<h1 class="page-title">Confirm your contact info.</h1>

<div class="contact-card">
  <div class="avatar"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
<h3 class="contact-name"><%= @student_first_name%>&nbsp;<%= @student_last_name %></h3>
<ul class="contact-list">
  <li class="contact-item">Student ID:  &nbsp; <%= @student_id %></li>
  <li class="contact-item">Email: &nbsp; <%= @student_email %></li>
</ul>
<div class="contact-links-container">
  <ul class="link-list">
    <li class="link-list-item"> <%=link_to('Confirm this is\'nt you', student_kiosk_index_path,  :class => 'btn btn-default') %></li>
    <li class="link-list-item"><%= link_to('Confirm this is you', new_student_visit_path, :class => 'btn btn-default') %></li>
  </ul>
</div>
</div>

  <script>
      $(document).ready(function(){

          var $body = $('#body');


          var lapTopURL = ["url('http://res.cloudinary.com/dpwoods/image/upload/v1490534744/img_assets/aircraft-carrier_1366x768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534744/img_assets/aircraft-carrier-2-1366-768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534745/img_assets/airforce-2-1366-768.jpg')",  "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534747/img_assets/airforce-1366-768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534745/img_assets/army_3_1366_768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534746/img_assets/army_4_1366_768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534746/img_assets/coast_guard_ship-1366_768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534746/img_assets/marines_2_1366x768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534746/img_assets/marines_1366x768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534747/img_assets/skydiving-1366-768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534747/img_assets/soldiers-1366-768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534747/img_assets/sqaud-goals.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534745/img_assets/army_1366_768.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534745/img_assets/army_2_1366_768.jpg')" ];
          var desktopURL = ["url('http://res.cloudinary.com/dpwoods/image/upload/v1490534737/img_assets/aircraft-carrier-1-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/aircraft-carrier-2-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/airforce-2-1920-1080.jpg')","url('http://res.cloudinary.com/dpwoods/image/upload/v1490534739/img_assets/airforce-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/army_2_1920_1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/army_3_1920_1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/army_4_1920_1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534738/img_assets/army_1920_1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534743/img_assets/coast_guard_1-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534740/img_assets/coast_guard_ship-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534742/img_assets/marines_2_1920_1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534743/img_assets/marines_1920x1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534743/img_assets/skydiving-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534743/img_assets/soldiers-1920-1080.jpg')", "url('http://res.cloudinary.com/dpwoods/image/upload/v1490534743/img_assets/sqaud-goals1920x1080.jpg')"];



          function getRandomInt(min, max) {
              min = Math.ceil(min);
              max = Math.floor(max);
              return Math.floor(Math.random() * (max - min)) + min;
          }


          function getImageIndex(){
              var min = 0;
              var max = 13;
              var randomInt = getRandomInt(min, max);
              return randomInt
          }

          if(window.screen.width >= 0 && window.screen.width <= 1366){
              $body.css({"background-image": lapTopURL[getImageIndex()], "background-repeat": "no-repeat", "background-size": "cover"});
          }
          else{
              $body.css({"background-image": desktopURL[getImageIndex()], "background-repeat": "no-repeat", "background-size": "cover"});
          }
      });
  </script>







</div>